* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

#body {
    background-color: #d3d3d3;
}

/**  header  **/
#header {
    background-color: #238744;
}

header div.contenedor-header {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0;
}

div.contenedor-header div a {
    text-decoration: none;
    color: white;
}

div.caja-logo {
    font-size: 24px;
}

div.caja-logo a img {
    height: 80px;
    border-radius: 50%;
    border: 4px solid #238744;
    transition: all 0.4s ease-in-out;
}

div.caja-logo a img:hover {
    border-color: #004919;
    transform: scale(1.1);
}
div.caja-ul {
    width: 70%;
}

div.caja-ul ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

div.caja-ul ul li {
    font-size: 14px;
    margin: 0 30px;
}

div.caja-ul ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

div.caja-ul ul li a::before {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #d3d3d3;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.4s ease-out;
}

div.caja-ul ul li:hover a::before {
    width: 100%;
}

div.caja-sesion a {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

div.caja-sesion a:hover {
    background-color: white;
    color: #004919;
}
/**  header  **/

/**  main  **/
div.contenedor-main {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    min-height: 53vh;
}

div.contenedor-main h3 {
    color: #092747;
}

hr.linea-titulo {
    border-color: #092747;
    opacity: 0.8;
}

div.contenedor-main p.aviso {
    padding: 15px;
    font-size: 14px;
    background-color: #1d3d5f;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

div.contenedor-turnos {
    margin-top: 50px;
    border-radius: 10px;
    background-color: #238744;
    padding: 20px 40px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

div.caja-thead {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 6px;
    border-bottom: 1px solid white;
}

div.caja-thead div {
    color: white;
    width: 10%;
}

div.caja-thead span {
    font-size: 14px;
    color: #d3d3d3;
}

div.caja-turno {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 6px;
    border-bottom: 1px solid #89bb99;
    transition: all 0.1s ease-in-out;
}

div.caja-turno:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

div.caja-turno div {
    color: white;
    width: 10%;
}

p.ningun-turno {
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
}

div.caja-turno span {
    font-size: 12px;
}

div.caja-turno span.span-estado {
    background: #055c24;
    padding: 4px;
    border-radius: 3px;
}

div.caja-turno button.boton-cancelar {
    background-color: #004919;
    outline: none;
    border: none;
    font-size: 12px;
    padding: 8px;
    width: 80%;
    text-align: center;
    border-radius: 3px;
}

div.caja-turno button.boton-cancelar:hover {
    background-color: #042b11;
}

/**  footer  **/
footer div.contenedor-footer {
    margin-top: 58px;
    background-color: #1d3d5f;
    padding: 25px;
}

div.contenedor-footer p {
    margin: 0;
}
/**  footer  **/

/*?  MEDIA QUERIES  ?*/
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
/*?  MEDIA QUERIES  ?*/
