* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

#body {
    background-color: #d3d3d3;
}

/**  header  **/
#header {
    background-color: #238744;
}

header div.contenedor-header {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0;
}

div.contenedor-header div a {
    text-decoration: none;
    color: white;
}

div.caja-logo {
    font-size: 24px;
}

div.caja-logo a img {
    height: 80px;
    border-radius: 50%;
    border: 4px solid #238744;
    transition: all 0.4s ease-in-out;
}

div.caja-logo a img:hover {
    border-color: #004919;
    transform: scale(1.1);
}

div.caja-ul {
    width: 70%;
}

div.caja-ul ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

div.caja-ul ul li {
    font-size: 14px;
    margin: 0 30px;
}

div.caja-ul ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

div.caja-ul ul li a::before {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #d3d3d3;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.4s ease-out;
}

div.caja-ul ul li:hover a::before {
    width: 100%;
}

div.caja-sesion a {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

div.caja-sesion a:hover {
    background-color: white;
    color: #004919;
}
/**  header  **/

/**  main  **/
div.contenedor-main {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    min-height: 53vh;
}

div.contenedor-main h3 {
    color: #092747;
}

hr.linea-titulo {
    border-color: #092747;
    opacity: 0.8;
}

div.contenedor-perfil {
    display: flex;
    justify-content: center;
    gap: 90px;
    width: 100%;
    margin: 90px 0;
}

div.caja-avatar {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.caja-avatar img {
    width: 250px;
    height: 90%;
    border-radius: 50%;
}

div.caja-info {
    width: 30%;
}

div.caja-info h4 {
    color: #092747;
    margin-bottom: 30px;
}

div.caja-info p {
    color: #092747;
    font-size: 16px;
    margin-bottom: 30px;
}

div.caja-botones {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 20px;
}

div.caja-botones button#boton-cerrarSesion {
    width: 80%;
    border: 1px solid #238744;
    outline: none;
    border-radius: 50px;
    padding: 7px;
    background-color: rgba(35, 135, 68, 0.4);
    font-size: 14px;
    color: black;
    transition: all 0.3s ease-in-out;
}

div.caja-botones button#boton-eliminar {
    width: 80%;
    border: 1px solid red;
    outline: none;
    border-radius: 50px;
    padding: 7px;
    background-color: rgba(255, 0, 0, 0.2);
    font-size: 14px;
    color: black;
    transition: all 0.3s ease-in-out;
}

div.caja-botones button#boton-cerrarSesion:hover {
    box-shadow: 7px 7px 0px -1px rgba(0, 0, 0, 0.75);
    transform: translateY(-7px);
    background: #238744;
    color: white;
}

div.caja-botones button#boton-eliminar:hover {
    background-color: red;
    color: white;
    box-shadow: 7px 7px 0px -1px rgba(0, 0, 0, 0.75);
    transform: translateY(-7px);
}
/**  main  **/

/**  footer  **/
footer div.contenedor-footer {
    margin-top: 58px;
    background-color: #1d3d5f;
    padding: 25px;
}

div.contenedor-footer p {
    margin: 0;
}
/**  footer  **/

/*?  MEDIA QUERIES  ?*/
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
/*?  MEDIA QUERIES  ?*/
