* {
    font-family: 'Poppins', sans-serif;
    color: white;
}

#body {
    background-color: #d3d3d3;
}

/**  header  **/
#header {
    background-color: #238744;
}

header div.contenedor-header {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 0;
}

div.contenedor-header div a {
    text-decoration: none;
    color: white;
}

div.caja-logo {
    font-size: 24px;
}

div.caja-logo a img {
    height: 80px;
    border-radius: 50%;
    border: 4px solid #238744;
    transition: all 0.4s ease-in-out;
}

div.caja-logo a img:hover {
    border-color: #004919;
    transform: scale(1.1);
}

div.caja-ul {
    width: 70%;
}

div.caja-ul ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

div.caja-ul ul li {
    font-size: 14px;
    margin: 0 30px;
}

div.caja-ul ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}

div.caja-ul ul li a::before {
    content: '';
    width: 0%;
    height: 3px;
    background-color: #d3d3d3;
    position: absolute;
    top: 100%;
    left: 0;
    transition: all 0.4s ease-out;
}

div.caja-ul ul li:hover a::before {
    width: 100%;
}

div.caja-sesion a {
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

div.caja-sesion a:hover {
    background-color: white;
    color: #004919;
}
/**  header  **/

/**  main  **/
div.contenedor-main {
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

div.contenedor-main h3 {
    color: #092747;
}

hr.linea-titulo {
    border-color: #092747;
    opacity: 0.8;
}

div.form {
    display: flex;
    flex-direction: column;
    background-color: #238744;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 15px 15px 0px -1px rgba(0, 0, 0, 0.75);
}

div.contendor-form {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

div.caja-inputs-1,
div.caja-inputs-2 {
    padding: 10px 15px;
    margin-top: 40px;
    width: 50%;
}

div.caja-registro {
    position: relative;
    margin: 10px 0 30px 0;
}

div.caja-registro input {
    width: 100%;
    color: white;
    border-radius: 3px;
    border: 1px solid transparent;
    outline: none;
    padding: 10px;
    font-size: 14px;
    background-color: #004919;
    margin-top: 5px;
    box-shadow: 6px 6px 0px -1px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
}

div.caja-registro input:hover {
    box-shadow: 7px 7px 0px -1px rgba(0, 0, 0, 0.8);
    transform: translateY(-7px);
    cursor: pointer;
}

div.caja-registro input:focus {
    transform: translateY(-7px);
    box-shadow: 7px 7px 0px -1px rgba(0, 0, 0, 0.8);
    cursor: text;
}

div.caja-registro input::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}

div.caja-registro input#inputAvatar {
    border: none;
    padding: 6px;
}

input[type='file']::-webkit-file-upload-button {
    background: rgba(0, 73, 26, 0.5);
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    padding: 2.5px;
}

input[type='file']::-webkit-file-upload-button:hover {
    cursor: pointer;
    border: 1px solid #238744;
    color: white;
    transition: all 0.3s ease-in-out;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    cursor: pointer;
    opacity: 0;
}

div.caja-registro div label {
    font-size: 16px;
}

div.caja-fecha svg {
    position: absolute;
    right: 10px;
    top: 60%;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

input[type='date']:hover ~ svg {
    transform: translateY(-7px);
}

div.form p {
    color: #d3d3d3;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    padding: 5px;
    margin: 0px 40px 5px 40px;
    border-radius: 3px;
}

div.caja-boton {
    width: 100%;
    padding: 0px 40px 50px 40px;
    text-align: center;
}

div.caja-boton button {
    color: white;
    border: 1px solid transparent;
    border-radius: 50px;
    outline: none;
    padding: 8px;
    font-size: 14px;
    background-color: #004919;
    width: 100%;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

div.caja-boton button:hover {
    box-shadow: 7px 7px 0px -1px rgba(0, 0, 0, 0.75);
    transform: translateY(-7px);
    background: #004919;
    opacity: 1;
}
/**  main  **/

/*?  MEDIA QUERIES  ?*/
@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
/*?  MEDIA QUERIES  ?*/
