div.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 40%;
    text-align: center;
}

div.contenedor div {
    margin: 20px;
    border: 1px solid black;
    color: black;
    padding: 10px;
}

div.contenedor div button {
    color: black;
    background-color: #fff;
    width: 30%;
    padding: 5px;
    border-radius: 10px;
}

div.contenedor-detalle {
    position: absolute;
    top: 10%;
    left: 32%;
    background-color: red;
    width: 33%;
}
